<section class="footer " style="padding-top: 200px">

        <div class="box-container ">
            <div class="box " >
                <a href="# " class="logo "> <i class="fas fa-paper-plane "></i>Web Sách Online </a>
                <p>Nội Dung tươi đẹp và thơ mộng</p>
                <div class="share " >
                      <a href="# " class="fab fa-facebook-f "></a>
                    <a href="# " class="fab fa-twitter "></a>
                    <a href="# " class="fab fa-instagram "></a>
                    <a href="# " class="fab fa-linkedin "></a>
                </div>
            </div>

            <div class="box "  >
                <h3>Thông tin liên hệ</h3>
                <p> <i class="fas fa-map "></i> Hồ Chí Minh, Viet Nam </p>
                <p> <i class="fas fa-phone "></i> (84)868-609-057 </p>
                <p> <i class="fas fa-envelope "></i> nguyentv2402@gmail.com </p>
                <p> <i class="fas fa-clock "></i> 7:00am - 11:00pm </p>
            </div>

        </div>

    </section>